@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./custom-components.css";
@import "./fonts.css";

@import "tailwindcss/utilities";

.background {
  background-color: #FFEEE9;
}

.background--alt {
  background: linear-gradient(to bottom left, rgba(240,170,139,0.2), rgba(255,208,52,0));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background--illustration {
  background-color: #FFF5DE;
}