@import "tailwindcss/base";

@import "tailwindcss/components";
/* @import "./custom-components.css"; */
@import "./fonts.css";

@import "tailwindcss/utilities";

.header-red {
  color: #D35537;
}

.header-yellow {
  color: #FFD131;
}

.header-blue{
  color: #60CCC3;
}

.poketto-colour {
  background: linear-gradient(to bottom left, rgba(255,209,49,1), rgba(239,167,146,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background {
  background-color: #FFEEE9;
}

.background--alt {
  background: linear-gradient(to bottom left, rgba(240,170,139,0.15), rgba(255,208,52,0));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background--illustration {
  background-color: #FFF5DE;
}

.v--modal-overlay {
  background: linear-gradient(to bottom left, rgba(255,209,49,0.2), rgba(239,167,146,0.6));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hover-button {
  &:hover{
    opacity: 0.8;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }
}

.hover-link {
  &:hover{
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
}

.grow {
  &:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.grow--button {
  &:hover{
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);
  }
}