@font-face {
  font-family: 'GT Walsheim Regular';
  font-weight: normal;
  src: url('../type/gt-walsheim-regular-web.eot');
  src: url('../type/gt-walsheim-regular-web.eot?#iefix') format('embedded-opentype'),
    url('../type/gt-walsheim-regular-web.woff') format('woff'),
    url('../type/gt-walsheim-regular-web.ttf')  format('truetype'),
    url('../type/gt-walsheim-regular-web.svg#svgGTWalsheim') format('svg');
}

@font-face {
  font-family: 'GT Walsheim Medium';
  font-weight: medium;
  src: url('../type/gt-walsheim-medium-web.eot');
  src: url('../type/gt-walsheim-medium-web.eot?#iefix') format('embedded-opentype'),
    url('../type/gt-walsheim-medium-web.woff') format('woff'),
    url('../type/gt-walsheim-medium-web.ttf')  format('truetype'),
    url('../type/gt-walsheim-medium-web.svg#svgGTWalsheim') format('svg');
}

@font-face {
  font-family: 'GT Walsheim Bold';
  font-weight: bold;
  src: url('../type/gt-walsheim-bold-web.eot');
  src: url('../type/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'),
    url('../type/gt-walsheim-bold-web.woff') format('woff'),
    url('../type/gt-walsheim-bold-web.ttf')  format('truetype'),
    url('../type/gt-walsheim-bold-web.svg#svgGTWalsheim') format('svg');
}

.gt-walsheim-bold{
  font-family: "GT Walsheim Bold", "Helvetica", sans-serif;
}

.gt-walsheim-medium{
  font-family: "GT Walsheim Medium", "Helvetica", sans-serif;
}

.gt-walsheim{
  font-family: "GT Walsheim Regular", "Helvetica", sans-serif;
}